<head>
  <title>Prescription List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200&display=swap" rel="stylesheet">
</head>

<body>
    <div class = "user-card text">
            <div class="card-value"><span class="header">Name </span>{{user[0]}}</div>
            <div class="card-value"><span class="header">Public Key </span>{{user[1]}}</div>
    </div>
    <div class = "containerr">
    <div class="cards-container">
        {% if ret|length == 0  %}
            <h1>No Current Prescriptions!</h1>
        {% endif %}
        {% for prescriptions in ret %}
            <div class="presCard card">
                <div class="card-header">
                <h3>{{prescriptions[0]}}</h3>
                </div>
                <div class="card-body">
                    <div>
                        <div class="card-value"><span class="header">Company </span>{{prescriptions[1]}}</div>
                        <div class="card-value"><span class="header">Dose </span>{{prescriptions[2]}}</div>
                        <div class="card-value"><span class="header">Unit </span>{{prescriptions[3]}}</div>
                        <div class="card-value"><span class="header">Period </span>{{prescriptions[4]}}</div>
                        <div class="card-value"><span class="header">Duration </span>{{prescriptions[5]}}</div>
                        <div class="card-value"><span class="header">Doctor </span>{{prescriptions[6]}}</div>
                        <div class="card-value"><span class="header">Hospital/Clinic</span>{{prescriptions[7]}}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>